@import url(https://fonts.googleapis.com/css?family=Encode+Sans+Condensed);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  align-content: center;
  justify-content: center;
}

article {
  max-width: 200px;
  min-width: 150px;
  margin: 10px;
  margin-bottom: 30px;
  // show text on mouse over cards
  &:hover {
    span, h3{
      overflow: visible;
      white-space: normal;
    }
  }
  // card's title
  & .title {
    font-family: 'Encode Sans Condensed', sans-serif;
  }
  // card's text
  & span{
    font-family: 'Open Sans', sans-serif;
  }
  // hide text on resizing
  & h3, & span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;

  }
  // card's img
  & > img {
    width: 100%;
    height: 50%;
    &:hover {
      -webkit-transform: scale(1.5); /* Safari and Chrome */
      -moz-transform: scale(1.5); /* Firefox */
      -ms-transform: scale(1.5); /* IE 9 */
      -o-transform: scale(1.5); /* Opera */
      transform: scale(1.5);
      transition: 1s;
    }
  }
  & .reviews {
    display: grid;
    justify-items: flex-start;
    // time of post creation
    & .time {
      grid-column: 1 / span 2;
    }
    & .review-box {
      display: flex;
    }
    & .reviews-comment, & .rating {
      grid-row: 2;
    }
    & .rating {
      display: flex;
      justify-content: start;
    }
    // like and comment icons
    & img {
      margin-left: 3px;
      align-self: center;
      width: 15px;
      height: 15px;
    }
  }
}