@import "variables";
@import "cards";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Arial, sans-serif;
}

#control{
  & button{
    padding: 5px;
    border: none;
    height: 35px;
    width: 100%;
    background-color: lightblue;
    &:hover {
      cursor: pointer;
      background-color: aquamarine;
    }
  }
}

#sort-by-date {
  display: flex;
  justify-content: space-between;
  & button{
    padding: 5px;
    border: none;
    height: 35px;
    width: 100%;
    background-color: lightblue;
    &:hover {
      cursor: pointer;
      background-color: aquamarine;
    }
  }
  .selected-button {
    background-color: gray;
    :hover {
      background-color: red;
    }
  }
}

#sorting-tags {
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-around;
  .tag {
    padding: 5px;
    background-color: lightblue;
    height: 35px;
    width: 100%;
    text-align: center;
    &:hover {
      cursor: pointer;
      background-color: aquamarine;
    }
  }
  .selected-tag {
    background-color: gray;
    :hover {
      background-color: red;
    }
  }
}

.hide{
  display: none;
}